<!DOCTYPE html>
<html>
<head>
  <title> FitHappens</title>
  <!-- Google Font Noto Sans -->
<link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet">
  <!-- boostrap css  -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- My CSS -->
  <link href="/static/style.css" rel="stylesheet">
  <!-- Cute icon  -->
  <link rel="shortcut icon" href="/static/favicon.ico">
  <!-- Bootstrap jquery  -->
  <script
    src="https://code.jquery.com/jquery-3.4.1.js"
    integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous">
  </script>
  <!--Navbar change color on scroll  -->
  <script>
    $(function () {
      $(document).scroll(function () {
        var $nav = $(".fixed-top");
        $nav.toggleClass('scrolled', $(this).scrollTop() > $nav.height());
        var $navlink = $(".nav-link");
        $navlink.toggleClass('scrolled', $(this).scrollTop() > $nav.height());
        var $navbrand = $(".navbar-brand");
        $navbrand.toggleClass('scrolled', $(this).scrollTop() > $nav.height());
        var $navbtn = $(".nav-btn");
        $navbtn.toggleClass('scrolled', $(this).scrollTop() > $nav.height());

      });
    });
  </script>
{% block head %}
{% endblock %}
</head>

<body>   
  <div class="containerNav" >
    <nav class="navbar navbar-expand-lg navbar-custom-thing fixed-top navbar-dark bg-dark justify-content-between">
      <a class="navbar-brand" href="/">Fithappens</a>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/calendar">Schedule</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/exercises">Make a Menu</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="/exercises">My Progress</a>
        </li>
      </ul>
      </div>
    
      <div class="pull-right" id="navbarSupportedContent">
        <a href="/trainer_profiles"><button type="button" class="btn btn-light nav-btn mr-sm-2 ">Meet Trainers</button></a>
        <a href="/login"><button class="btn nav-btn btn-light mr-sm-2">Log In</button></a>
      </div>
    </nav>
  </div>

  <div class="content">

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}

          <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

        {% endfor %}
      {% endif %}
    {% endwith %}


    {% block content %}

    {% endblock %}
  </div>
<footer class="footer mx-auto py-1 fixed-bottom">
  <div class="container">
    <span class="text-muted">&hearts; &hearts;2019 Fithappens &hearts; &hearts;</span>
  </div>
</footer>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>