<!DOCTYPE html>
<html>
<head>
    <title> {% block title %}{% endblock %}</title>
    <!-- link for css goes here -->
    <!-- js script goes here -->
    <!-- Cute icon  -->
    <link rel="shortcut icon" href="/static/favicon.ico">
    <script
      src="https://code.jquery.com/jquery-3.4.1.js"
      integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
      crossorigin="anonymous">
    </script>
</head>
<body>
    {% block content %}
    {% endblock %}
    <footer>&hearts; &hearts;2019 Fithappens &hearts; &hearts;</footer>
</body>
</html>