{% extends 'base.html' %}

{% block content %}

<div class="search-exercises">
    <p>Search exercises</p>
    <input type="text" id="search-field">
    <button>Search</button>
</div>

<form action="/build_menu" method="POST">
    <section class="exercises-section" id="exercises-section">
        <div id="index-exercise"> This should show search result with checkboxes </div>
       
    </section>

    <section class="selected-exercises">
        <h3> The selected exercises</h3>
        <div id="selected-exercises-list">
            this should be replaced with checked checkboxes exercises
        </div>
        <div id="btn-selected-ex-list">
            this should show a button for next
        </div>
    </section>

</form>

<script>
    // search exercise name  and return search result   
    $('#search-field').on("change", (evt)=> {
        const typeExercise = $(evt.target);
        const searchName = typeExercise.val();
        console.log(searchName); //remove this after test
        $.get('/search_exercise.json', {'search_name':searchName}, (res) => { 
            console.log(res); //remove this after test
            const showCheckBox = $('#exercises-section');
            htmlCheckbox = "";
            for (const ex of res) { 
                htmlCheckbox = htmlCheckbox + `<input type="checkbox" class="checkboxes" 
                id="${ex["name"]}" name="checkboxes" value="${ex["id"]}">${ex["name"]}<br>`;
            }
            showCheckBox.html(htmlCheckbox);
        });
    });

    // Track checked checkboxes
    htmlSelected = '';
    selectedEx = {};
    $('#exercises-section').on("change", "input.checkboxes", (evt) => { 
        const checkboxes = $(evt.target);
        const checkedExId = checkboxes.attr("id");
        const checkedExName = checkboxes.attr("value");
        console.log(checkedExName);//remove this after test 
        if (checkboxes.prop("checked")) { 
            console.log("yes");
            htmlSelected = htmlSelected + `<span id="selected-${checkedExId}"> <strong>Exercise Name:</strong> ${checkedExId}<br></span>`;
            selectedEx[checkedExId] = checkedExName ;
            console.log(selectedEx);
        }

        else { 
            console.log("no");
            $(`#selected-${checkedExId}`).remove(); //I think it's htmlSelected still has it.
        }
        $('#selected-exercises-list').html(htmlSelected);
        $('#btn-selected-ex-list').html(
            `<input type="submit" class="btn-selected-exercises-list" value="Next!">`
        );
    });
    // $('.selected-exercises').on("click", "button.btn-selected-exercises-list", (evt) => {
    //         console.log("clicked"); // remove this
    //         console.log(selectedEx); // remove this
    //         // $.post("/send_selected_ex", {"selectedEx":JSON.stringify(selectedEx)}, (res) =>{                 
    //         });
          
            //redirect to "/menu"

    // });

</script>


{% endblock %}

