{% extends 'base.html' %}

{% block content %}

    <form action="/login" method="POST">

        <h2> Happy Workout Happy Life </h2>

        <div class="form-group">
            <label for="id-field" class="sr-only">Account ID:</label>
            <input type="text"
                   name="user_id"
                   placeholder="Account ID"
                   required>
        </div>

        <div class="form-group">
            <label for="password-field" class="sr-only">Password</label>
            <input type="password"
                   name="password"
                   placeholder="Password"
                   required>
        </div>

        <button type="submit">Sign In</button>

    </form>

{% endblock %}