{% extends 'base.html' %}

{% block content %}


<section class="selected_exercises" >
    <form action="/menu" method="POST">

        <h2> {{ name }} </h2>

        {% for exercise in selected_exercises %}
                <div>
                    <h3>{{ exercise.exercise }}</h3>
                </div>
                <div>
                    <input type='text' name="{{ exercise.exercise_id }}_weight">Weight(lb)
             
                    <input type='text' name="exercise_{{ exercise.exercise_id }}_reps">Reps
                
                    <input type='text' name="{{ exercise.exercise_id }}_set">Set
               
                    <input type='text' name="{{ exercise.exercise_id }}_note">Note
                </div>


            {% endfor %} 
        <input type="submit" value="Create New Menu">

     </form>

{% endblock %}