{% extends 'base.html' %}

{% block content %}

<div class="container">
<form action="/menu" id="menu-form" method="POST">
<div class="card">
<div class="card-body">

 
    <div class="txt-name-type">
        <div class="row">
            <div class="col-sm-6 form-group">
                <label for="input_menu_name">Name for the menu?</label>
    
                <input type="text" class="form-control" name="input_menu_name" id="input_menu_name">
            </div>
            
            <div class="col-sm-6 form-group">
                <label for="input_menu_type">
                    Menu Type:
                </label>

                <div class="input-group">
                    <input class="form-control" type="text" name="menu_type" id="input_menu_type">
                    <div class="input-group-append">
                        <button id="create-menu-name" type="button">
                            Okie!
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <h2 id="show-menu-name"></h2>
        <input type="hidden" id="menu-id" name="menu_id" value="menu_id"> 
    </div>

    <table id="menu-table" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Exercise Name</th>
                <th>Weight</th>
                <th>Repetition</th>
                <th>Set</th>
                <th>Note</th>
            </tr>
        </thead>
        <tbody id="menu_table_body">
            {% for ex in selected_exes %}
                <tr>
                    <td > <input type="hidden" name="ex" value="{{ ex.exercise_id }}">{{ ex.exercise_id }}</td>
                    <td><input type="hidden" name="{{ ex.exercise }}" value="{{ ex.exercise }}">{{ ex.exercise }} </td>
                    <td>
                        <input type="text" name="{{ ex.exercise_id }}_weight">  </td>
                    <td><input type="text" name="{{ ex.exercise_id }}_reps">  </td>
                    <td><input type="text" name="{{ ex.exercise_id }}_set">  </td> 
                    <td><input type="text" name="{{ ex.exercise_id }}_note">  </td> 
                </tr>
            {% endfor %}
        </tbody>

    </table>
    
</div> <!-- end card-body-->
<div class="card-footer">
    <input type="submit" class="form-control" id="menu_form_submission" value="Create New Menu">
</div>
</div>

</form> 
</div> <!-- end container -->

<script type="text/javascript">

    $('#create-menu-name').on("click", (evt)=>{ 
        const menuName = $("#input_menu_name").val();
        const menuType = $("#input_menu_type").val();
        console.log(menuName,menuType);
        const showName = $('#show-menu-name');
        $.post('/create_menu_db', {"menu_name":menuName,"menu_type":menuType}, (res) =>{    
            console.log("I am back bb");
            $('#menu-id').val(res);
            showName.text(menuName);
            });      
    });

</script>
{% endblock %}